# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.ncb
*.suo
*.user

# Precompiled Headers
*.gch
*.pch
*.pdb
*.ilk
*.idb
*.dep
*.htm
*.manifest

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#dir
src/FeiQ/GeneratedFiles/*
src/FeiQServer/GeneratedFiles/*